@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: myFont;
  src: url("Oswald/Oswald-VariableFont_wght.ttf");
}
.sub,input[type=button]
{
	background-color: #ff5335;
	outline: none;
	border: none;
	color: #FFFFFF;
	font-family: myFont;
	font-size: 120%;
	transition-duration: 0.4s;
}

.log
{
	font-family: myFont;
	color: #2A2727;
	font-size: 100%;
}

.sub:hover
{
  background-color: #ff5335;
  color: white;
	cursor: pointer;
}

.wrapper
{
	margin: 7%;
	padding: 1%;
	background: #FFFFFF;
	border-style: solid;
	border-width: medium;
	border-color: #ff5335;

}
#list_projectDiv
{
	margin: 2%;
	background: #D9CECF;
	font-family: myFont;
	color: #2A2727;
}

input[type=button]:focus {
  border-bottom-color: #ff5335;
	outline: none;
  
}
input[placeholder]:focus { color: #ff5335; }
